<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>meta</title>
</head>

<body>
    <div id="app">

        <router-link to='/home'>首页</router-link>
        <router-link to='/blog'>博客</router-link>
        <router-link to='/login'>登陆</router-link>
    
        <a href="javascript:void(0)">退出</a>
        <router-view />

    </div>
    <script type="text/javascript" src='./node_modules/vue/dist/vue.js'> </script>
    <script type="text/javascript" src='./node_modules/vue-router/dist/vue-router.js'> </script>
    <script>
        Vue.use(VueRouter);
        var Home = {
            template:`
                <div>
                    我是首页
                </div>
            `
        }
        var Blog = {
                template: `
                <div>
                    我是博客
                </div>
            `
            }
        var Login = {
                data(){
                    return {
                        name:'',
                        pwd:''
                    }
                },
                template: `
                <div>
                    <input type='text' v-model='name'>
                    <input type='password' v-model='pwd'>
                    <button @click='loginHandler'>登陆</button>
                </div>
            `,
            methods:{
                loginHandler(){
                    localStorage.setItem('user', {name:this.name, pwd:this.pwd})
                    // 登陆成功，才可以跳转
                    // router-link 是事件性的跳转
                    // 还有一种是编程式跳转 编程式导航，就是使用$router跳转 使用push方法
                    // push 里面放入键值对（对象）
                    this.$router.push({
                        name:'blog'
                    })

                }
            }
            }
        var router = new VueRouter({
            routes: [
                {
                    // 默认路径
                    path:'/',
                    redirect:'/home'
                },
                {
                    path: '/home',

                    component: Home,
                },
                {
                    path: '/blog',
                    name:'blog',
                    component: Blog,
                    // meta 做权限控制
                    meta:{
                        // 用户访问此组件时，需要登陆
                        auth:true
                    }
                },
                {
                    path: '/login',
                    component: Login
                },
                
            ]
        });
        router.beforeEach((to,from,next)=>{
            console.log(to);
            console.log(from);

            if(to.meta.auth){
                // 如果localStorage 里面有值，说明已经登陆，就放行
                if(localStorage.getItem('user')){
                    next();
                }else{
                    // 没有值就需要跳转到登陆界面
                    next({
                        path:'/login'
                    })
                }
            }else{
                next();
            }
        })

        var vm = new Vue({
            el: "#app",
            router,
        })
    </script>
</body>

</html>