<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>
        .box {
            width: 100px;
            height: 100px;
            background-color:chartreuse;
        }
        .active {
            background: brown;
        }
        </style>
    </head>
    <body>
        <div id='app'>

        </div>
        <!-- 1.引包 -->
        <script type="text/javascript" src='./node_modules/vue/dist/vue.js'> </script>

        <script type="text/javascript">
            // 2.实例化对象
            //指令系统
                //1.v-text
                //2.v-html
                //3.v-if （相当与appendeChild() removeChild() ）
                //4.v-else
                //5.v-show (dispaly:none/block;)
                    // v-if 与 v-show的区别 [官方文档]
                //6.v-bind 绑定标签上的属性 (系统的属性和自定义的属性)
                    //v-bind简便写法（:原生属性名 = 自定义属性名）
                //7.v-on 使用：v-on:原生事件名 = '函数名'，简便写法：@ + 事件名
                //8.v-for 遍历循环


            new Vue({
                el:'#app',
                data:function(){
                    //如果是function，要return一个对象s
                    return {
                        msg:'指令系统',
                        msg2:'指令系统2',
                        isShow:false,
                        isGreen:false,
                        menuList:[
                            {id : 1, name: '小明', age: 12 },
                            { id: 3, name: '小著', age: 18 },
                            { id: 2, name: '小黄', age: 13 },
                        ],
                        person:{
                            name:'小米',
                            age:'12',
                            add:'花园'
                        }
                    }
                },
                //这个template里面一定是一个闭合标签
                template:`
                    <div id='app'>
                        <h2>{{ msg }}</h2>
                        <p v-text='msg'></p>
                        <h2 v-html='msg2'></h2>
                        <h2 v-text='1+1'></h2>
                        <h2 v-if='true'>好的，显示出来</h2>
                        <h2 v-if='isShow'>show it</h2>
                        <h2 v-if='!isShow'>do not show it</h2>
                        
                        <h2 v-if='Math.random()>0.5'>
                            显示
                        </h2>
                        <h2 v-else>
                            不显示
                        </h2>

                        <h2 v-show='isShow'>v-show</h2>
                        //v-bind 绑定类class，class的值为假
                        <h2 class='box' v-bind:class='{active:false}'></h2>
                        //绑定的值可以是data里面的数据
                        <h2 class='box' v-bind:class='{active:!isGreen}'></h2>
                        //绑定的属性的简写
                        <h2 class='box' :class='{active:!isGreen}'></h2>

                        // v-on事件
                        <h2 class='box' v-on:click = 'clickHandler' :class='{active:!isGreen}'></h2>

                        //v-for
                        <ul>
                            <li v-for='item in menuList'>
                                <h3>{{item.id}}</h3>
                                <h3 v-text='item.name'></h3>
                                <h3 v-text='item.age'></h3>
                            </li>
                        </ul>

                        <ul>
                            <li v-for='(value,key) in person'>
                                {{key}} === {{value}}
                                
                            </li>
                        </ul>
                    </div>
                `,
                methods:{
                    clickHandler(e){
                        console.log(this);
                        //由于 this是表示这个 vue对象，所以每次修改this的值，会使得 vue的数据修改
                        this.isGreen = !this.isGreen
                    }
                }
            });
        </script>
    </body>
</html>
